.oferta {
  background-color: #00446e;
  padding: 2rem;
  text-align: center;
}

.precio {
  font-size: 6rem;
  margin: 0;
}

@media (min-width: 600px) and (max-width: 800px) {
  .oferta {
    background-color: yellow;
    max-width: 30rem;
  }
}
