:root {
    --azul: #0071b7;
    --blanco: #FFF;
    --naranja: #ff4f1e;
}

html {
    font-size: 62.5%;
    /** 1REM = 10pX **/
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    background-color: var(--azul);
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

h1,
h2 {
    color: var(--blanco);
    text-align: center;
    margin: 5rem 0;
    padding: 1rem;
}

.caja-curso {
    background-color: var(--naranja);
    text-align: center;
    color: var(--blanco);
    padding: 5rem;

}

.caja-curso h1 {
    margin: 0;
}

.caja-curso p {
    font-size: 2.4rem;
}

.caja-curso a {
    font-size: 2.4rem;
    padding: 2rem;
    display: inline-block;
    text-decoration: none;
    color: var(--blanco);
    padding: 0;
}


.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.box {
    background-color: var(--naranja);
    color: var(--blanco);
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: 1rem solid #bb2b03;
}

.contenedor>div {
    background-color: var(--blanco);
    padding: 5rem;
}


/**************** 1 ****************/
.d-flex {
    display: flex;
}

/**************** 2 ****************/
.d-flex-2 {
    display: flex;
    /*flex-direction: row; comes by default with display: flex;*/
    flex-direction: column;
}

/**************** 3 ****************/
.d-flex-3 {
    display: flex;
    /*justify-content: start; comes by default with display: flex;*/
    justify-content: flex-end;
    /*We use justify-content to go from left to right when row*/
}

/**************** 4 ****************/
.d-flex-4 {
    display: flex;
    flex-direction: column;
    height: 1000px;
    justify-content: space-between;
    /*We use justify-content to go from top to bottom when column */
}

/**************** 5 ****************/
.d-flex-5 {
    display: flex;
    /*We will use direction row, so its not necessary to declare flex-direction: row */
    height: 700px;
    align-items: flex-start;
    /*We use align-items to align items vertically when direction is row */
}

/**************** 6 ****************/
.d-flex-6 {
    display: flex;
    flex-direction: column;
    height: 700px;
    align-items: flex-start;
}

/**************** 7 ****************/
.d-flex-7 {
    display: flex;
    height: 800px;

    /* Till here, the following values are added just by default with display: flex*/
    /* flex-direction: row;
    justify-content: flex-start;
    align-items: stretch; //This will take the whole available height */

    flex-direction: row;
    /* This will position the row in the center of the available width (X axis): */
    justify-content: center;
    /* This will position the row in the bottom of the available height (Y axis): */
    align-items: flex-end;
}

/**************** 8 ****************/
.d-flex-8 {
    display: flex;
}

.d-flex-8 .box {
    /* "Width" of every box, in this case: 1/3 of the total space*/
    flex-basis: 33.3%;
}

/**************** 9 ****************/
.d-flex-9 {
    display: flex;
    justify-content: space-between;
}

.d-flex-9 .box:nth-child(1) {
    flex-basis: calc(50% - 1rem);
}

.d-flex-9 .box:nth-child(2),
.d-flex-9 .box:nth-child(3) {
    flex-basis: calc(25% - 1rem);
}

/**************** 10 ****************/
.d-flex-10 {
    display: flex;
    /* By default all the elements will be shown one next to each other 
        flex-wrap: nowrap;*/
    flex-wrap: wrap;
}

.d-flex-10 .box {
    flex-basis: 33.3%;
}

/**************** 11 ****************/
.d-flex-11 {
    display: flex;
}

.d-flex-11 .box:nth-child(1) {
    flex-grow: 2;
}

.d-flex-11 .box:nth-child(2) {
    flex-grow: 1;
}

.d-flex-11 .box:nth-child(3) {
    flex-grow: 1;
}

/**************** 12 ****************/
.d-flex-12 {
    display: flex;
}

.d-flex-12 .box {
    flex-grow: 1;
    flex-basis: 300px;
    /* By default comes flex-shrink: 1; */
}

.d-flex-12 .box:nth-child(3) {
    flex-shrink: 2;
}

/**************** 13 ****************/
.d-flex-13 {
    display: flex;
}

.d-flex-13 .box {
    flex: 1;
    /* Is equivalent to:
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1; */

    /* In case we want to give a width we can do:
    flex: 0 0 calc(33.3% - 1rem);
    */
}