.texto {
    color: red;
}

.azul {
    color: blue;
}

.mayusculas {
    text-transform: uppercase;
}

/*  applies to every element that has both classes .texto and .mayusculas */
.texto.mayusculas {
    font-size: 10rem;
}