/* .texto {
  border: 3px solid yellow;
  padding: 2rem;
}

.oferta {
  border: 3px solid yellow;
  padding: 2rem;
} */

/* That is equivalent to: */

.texto, 
.oferta {
  border: 3px solid yellow;
  padding: 2rem;
}
