/* This will change just the link that has exactly this prop: href="http://www.google.com"

a[href="http://www.google.com"] {
  color: red;
} */

/* If I want to modify all links that START with href="http://" */
a[href^="http://"] {
  color: red;
}

/* If I want to modify all links that END with href=".com" */
a[href$=".com"] {
  color: tomato;
}