ul li:nth-child(2) {
  border: 2px solid red;
}

/* To select multiple elements: 

ul li:nth-child(2),
li:nth-child(3),
li:nth-child(5) {
  border: 2px solid red;
} 

ul li:nth-child(2n + 1){
  border: 2px solid red;
}

ul li:nth-child(4n + 4){
  border: 2px solid red;
}

ul li:nth-child(odd){
  border: 2px solid red;
}

ul li:nth-child(even){
  border: 2px solid red;
}
*/
